.info {
    font-size: large;
    position: absolute;
    width: 100%;
    padding-top: calc(12px + env(safe-area-inset-top));
    padding-bottom: 12px;
    background-color: #FFFFFF;
    text-align: center;
    opacity: 0.6;
    display: table;
}

#infoBox {
    display: none;
}

#infoBox .text {
    display: table-cell;
    vertical-align: baseline;
    text-align: center;
    width: auto;
}